.feed_main_root{
    display: flex;
    flex-direction: column;
    width : calc(100% - 260px - 200px);
    height: 100%;
}
.feed_main_create_feed_container{
    margin-top: 50px;
    width: 100%;
}
.feed_main_body{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}