.login_root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
}
.login_container{
    width: 1000px;
    height: 680px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    box-shadow: 0 25px 45px rgb(0 0 0 / 10%);
}
.login_information{
    z-index: 10;
    display: flex;
    flex-direction:column;
    width: 50%;
    height: 100%;
    background-color: #5881C0;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-image: url(../Image/Login/splash_image.png);
    background-size: 600px;
    background-repeat: no-repeat;
}
.login_information_header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}
.login_information_header > span{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    font-family: monospace;
}
.login_information_content{
    margin-top: 20px;
    padding: 0 20px 0 50px;
    width: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_information_content > span{
    color: #fff;
    font-size: 1rem;
    font-family: monospace;
}

.login_form_container{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 32px;
}