.app_root{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
}
.app_body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 50px);
    background-color: #18191A;
}