.feed_comment_root{
    display: flex;
    flex-direction: row;
}
.feed_comment_user_icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feed_comment_user_content_container{

}
