.top_bar_root{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
    background-color: #242526;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #393B3D;
}
.top_bar_left_container{
    padding-left: 20px;
}
.title_span{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-family: monospace;
    cursor: pointer;
}
.top_bar_right_container{

}


/*LOGOUT Elements*/
.top_Bar_logout_element{
    margin-right: 12px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 12px;
    gap: 4px;
    cursor: pointer;
}
.top_Bar_logout_element:hover{
    background-color: #4D4F50;
}
.top_Bar_logout_title_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_Bar_logout_title_div > span{
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
}
.top_Bar_logout_img{
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-image: url(../Image/Public_icons/sign-out-alt.png)
}

